<ion-header>
  <ion-toolbar>
    <ion-title>Conversor Numérico</ion-title>
  </ion-toolbar>
</ion-header>

<div class="page-container">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Escolha uma conversão</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6" class="button-col">
            <ion-button expand="full" class="custom-button" routerLink="/coin">Conversor de Moedas</ion-button>
          </ion-col>
          <ion-col size="6" class="button-col">
            <ion-button expand="full" class="custom-button" routerLink="/temperature">Conversor de Temperatura</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" class="button-col">
            <ion-button expand="full" class="custom-button" routerLink="/length">Conversor de Comprimento</ion-button>
          </ion-col>
          <ion-col size="6" class="button-col">
            <ion-button expand="full" class="custom-button" routerLink="/speed">Conversor de Velocidade</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="button-col">
            <ion-button expand="full" class="custom-button" routerLink="/time">Conversor de Tempo</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>
