<ion-header>
  <ion-toolbar>
    <ion-title>Conversor Numérico</ion-title>
  </ion-toolbar>
</ion-header>

<div class="page-container">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Escolha uma conversão</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-button expand="full" routerLink="/coin">Conversor de Moedas</ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button expand="full" routerLink="/temperature">Conversor de Temperatura</ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button expand="full" routerLink="/length">Conversor de Comprimento</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>
