.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  ion-card {
    width: 90%;
    max-width: 400px;
  }
  
  .result-container {
    font-size: 1.5rem; /* Aumenta o tamanho do texto */
    font-weight: bold; /* Deixa em negrito */
    text-align: center; /* Centraliza o texto */
    margin-top: 15px;
  }